.Cell {
  background-color: var(--dark-opaque);
  color: var(--softer-white);
  width: 100%;
  padding: 18px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hoverable:hover {
  background-color: rgb(87, 87, 87);
}

.Cell h1,
h2 {
  color: var(--softer-white);
}

.Cell img {
  border-radius: 6px;
  height: 70px;
  width: 70px;
  object-fit: contain;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.4em;
  }

  .Cell {
    flex-direction: column;
  }
}
