.SearchBar {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 18px;
}

.SearchBar form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SearchBar input {
  height: 30px;
  flex: 1;
  margin-right: 4px;
  border-radius: 2px;
  border: none;
  padding-left: 6px;
}

.SearchBar form button {
  width: 15%;
  min-width: 70px;
}
