.AuthForm {
    background-color: rgb(90, 90, 90);
    max-width: 500px;
    margin: 0 auto;
}

.AuthForm h2 {
    color: var(--softer-white);
    background-color: black;
    padding: 12px;
    margin-bottom: 8px;
}

.AuthForm form {
    padding: 12px;

}

.AuthForm-group {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.AuthForm-group label {
    width: 20%;
    text-align: left;
}

.AuthForm-group input {
    flex: 1;
    height: 30px;
}

.link-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;
    font-size: 1em;
}

.link-btn:hover {
    cursor: pointer;
}