.Cell-drink-data {
    text-align: left;
    width: 50%;
    max-width: 325px;
    overflow: hidden;
}

.Cell-drink-control {
    display: flex;
}

.Cell-drink-control button {
    margin-left: 6px;
}

.Cell-drink-control label {
    color: white; 
    margin-right: 4px;
}

.Cell-drink-name{
    font-size: 18px;
    font-weight: bold;
}