.PlaceCell-info p {
  color: white;
  text-align: left;
}

.PlaceCell-info h2 {
  text-align: left;
}

@media (max-width: 768px) {
  .PlaceCell-info p {
    text-align: center;
  }
  .PlaceCell-info h2 {
    text-align: center;
  }
}
