.LocationWidget {
    background-color: var(--light-opaque);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.LocationWidget p {
    margin: 0 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.LocationWidget button, .PageHeader button {
    border: 4px solid white;
    padding: 8px;
    color: var(--softer-white);
    background-color: var(--dark-opaque);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 4px;
}

.LocationWidget button:active .PlaceHeader button:active {
    background-color: var(--softer-white);
    color: black;
}